@import "src/style/variables";

button.cell {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 90%;
    height: 90%;
  }

  &_black {
    background-color: $black-cell;
  }

  &_white {
    background-color: $white-cell;
  }

  &_selected {
    background-color: $selected-cell;
  }

  &_target {
    background-color: $target-cell;
  }
}
